*,*::before, *::after{
    box-sizing: border-box;
    /*outline: solid 1px;*/
}

body{
    font-family:"Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color:var(--color-text-primary);
}

img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}
a{
    display: inline-block;
    text-decoration: none;    
}

ul{
    margin: 0px;
}

.container{
    max-width: 1296px;
    margin: 0 auto;    
    @media (max-width:768px) {
        padding-left: 12px;        
        padding-right: 12px;
    }
}

.button-style{
    padding: 12px 24px;    
    background-color: var(--color-primary-300);
    border-radius: 8px;
}

.bradge-style{
    padding: 8px 12px;
    background-color: var(--color-primary-100);

}

/*統用格式*/

.text-c-1{
    color: var(--color-text-on-dark);
}

.text-c-2{
    color: var(--color-primary-300);
}

.text-c-3{
    color:var(--color-neutral-500);
}

.text-c-4{
    color:var(--color-neutral-900);
}

.text-c-5{
    color:var(--color-primary-400);
}

.d-f{
    display: flex;
    align-items: center;
}

.f-w{
    flex-wrap: wrap;
}

.d-b{
    display: block;
}

.d-n{
    display: none;
}

.align-items-c{
    align-items: center;
}

.text-align-c{
    text-align: center;
}

.gap-48{
    gap:48px;
}

.gap-40{
    gap:40px;
}

.my-12{
    margin-top: 12px;
    margin-bottom: 12px;
}

.my-48{
    margin-top: 48px;
    margin-bottom: 48px;
}

.my-64{
    margin-top: 64px;
    margin-bottom: 64px;
}

.my-100{
    margin-top: 100px;
    margin-bottom: 100px;
}

.mx-a{
    margin-left: auto;
    margin-right: auto;
}

.mx-24{
    margin-left: 24px;
    margin-right: 24px;
}

.mx-40{
    margin-left: 40px;
    margin-right: 40px;
}

.mx--12{
    margin-left: -12px;
    margin-right: -12px;
}

.me-48{
    margin-left: 48px;
}

.me-a{
    margin-left: auto;
}

.mb-4{
    margin-bottom: 4px;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-12{
    margin-bottom: 12px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-21{
    margin-bottom: 21px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-48{
    margin-bottom: 48px;
}

.mb-64{
    margin-bottom: 64px;
}

.p-15{
    padding: 15px;
}

.px-12{
    padding-left: 12px;
    padding-right: 12px;
}

.py-8{
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-12{
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-16{
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}

/*網格*/
.col-md-2{
    width: 50%;  
}

.col-6{
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}
.col-3{
    width:25%;
    padding-left: 12px;
    padding-right: 12px;
}
/*統用格式-RWD*/

@media screen and (max-width:768px) {
    .d-b-md{
        display: block;
    }
    .d-n-md{
        display: none;
    }

    .f-md-w{
        flex-wrap: wrap;
    }

    .py-md-12{
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .py-md-64{
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .px-md-6{
        padding-left: 6px;
        padding-right: 6px;
    }

    .my-md-8{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .mx-md--12{
        margin-left: -6px;
        margin-right: -6px;
    }
    .mx-md-64{
        margin-left: 64px;
        margin-right: 64px;
    }
    .mb-md-12{
        margin-bottom: 12px;
    }
    .mb-md-24{
        margin-bottom: 24px;
    }
    .mb-md-32{
        margin-bottom: 32px;
    }
    .mb-md-40{
        margin-bottom: 40px;
    }

    .fz-md-16{
        font-size: 16px;
    }
    .fz-md-20{
        font-size: 20px;
    }    
    .fz-md-28{
        font-size: 28px;
    }
    .fz-md-32{
        font-size: 32px;
    }

    .col-md-2{
        width: 50%;
        padding-left: 6px;
        padding-right: 6px;
    }
}